*{box-sizing: border-box;}
body{
    background-color: #FFFFFF;
    color: #A0897D;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

header {
    background-color: #A0897D;
    color: #FFFFFF;
    border: 2px solid #A0897D;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: lighter;
}

header a:link {text-decoration: none; color:  #FFFFFF;}
header a:visited {text-decoration: none; color: #FFFFFF;}
header a:hover {color: #61746E;}

#wrapper {
    margin: auto;
    width: 60%;
    background-color: #A0897D;
    border: 1px solid #A0897D;
}
nav {
    font-size: 1.5em;
    font-style: normal;
    text-align: center;
}
nav a:link {color: #ffffff;}
nav a:visited{ color: #ffffff;}
nav a:hover { color: #61746E;}

section {
    padding-top: 0;
    float: left;
    width: 33%;
}
h3 {
    padding-top: 0%;
    padding-bottom: 0%;
}
footer{
    font-size: 80%;
    text-align: left;
    color: #ffffff;
    background-color: #A0897D;
    height: 30px;
}
footer a {text-decoration: underline; color:#FFFFFF;}
footer a:hover {color: #61746E;}
#homeImage {
    height: 500px;
    background-image: url(home.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}
#meImage {
    background-image: url(me.jpg);
    height: 500px;
    width: 350px;
    background-position: left;
    background-size: auto;
    float: left;
    background-repeat: no-repeat;
}

#fashionImage {
    background-image: url(fashion.jpg);
    background-size: 600px;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    margin: auto;
}

#beautyImage {
    background-image: url(beauty.jpeg);
    background-size: 400px;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    height: 200px;
    width: 500px;
    padding-top: 300px;
}

p {
    line-height: 2.5em;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 125%;
}
p a{ text-decoration: underline; color: #A0897D}
p a:hover {color: #61746E;}

main {
    padding: 1px 20px 20px 30px;
    display: block;
    background-color: #ffffff;
    overflow: auto;
    text-align: center;
    margin: 0 auto;
}
h3 {
    text-align: center;
    font-size: 150%;
}


table { 
    border: 2px solid #A0897D; 
    border-collapse: collapse; 
    width: 90%;
    margin: auto;
}
th, td{padding: 1em; border: 2px solid #A0897D; text-align: center;}
th { background-color: #D3CDC6; font-weight: bold;}

form {
    display: flex;
    flex-flow: column nowrap;
    width: 75%;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 10em 1fr;
    grid-template-rows: auto;
}
input, textarea {margin-bottom: .5em; margin-right: 0.5em }
input[type="submit"] {grid-column: 2/2; width: 9em; }

video { width: 100%; height: auto; max-width: 800px;}

li {
    font-size: 100%;
    padding-left: 0;
}
ul {
    margin: auto;
    padding-left: 0;
}
li a:link {color:  #A0897D;}
li a:visited {text-decoration: none; color: #A0897D;}
li a:hover {color: #61746E;}